---
import Website from "../../layouts/Website.astro";
import { getTranslationsHelpers, LANGUAGE_CODES } from "../../core/translation";

export const getStaticPaths = () => {
  return LANGUAGE_CODES.map((lang) => ({ params: { lang } }));
};

const { lang } = Astro.params;

const { t } = getTranslationsHelpers(lang);
---

<Website lang={lang}>
  <main class="container">
    <section class="row my-5">
      <h1 class="text-center">
        <img src={`${import.meta.env.BASE_URL}img/vandolie-logo.svg`} alt="Logo" width="30" height="24" />
        {t("site-name")}
      </h1>
      <h2 class="text-center fs-4">{t("site-description")}</h2>
    </section>

    <!-- Pick your language -->
    <section class="row mb-5">
      {
        LANGUAGE_CODES.map((l) => (
          <div class="col">
            <div class="d-grid">
              <a
                role="button"
                class:list={["btn", "btn-lg", { "btn-primary": lang === l, "btn-outline-primary": lang !== l, "disabled": lang === l, "aria-disabled": "lang === l" }]}
                href={`${import.meta.env.BASE_URL}${l}`}
              >{t(`lang-${l}`)}</a>
            </div>
          </div>
        ))
      }
    </section>

    <!-- Presentation -->
    <section class="row mb-5">
      TODO: Pitch
    </section>

    <!-- Links -->
    <section class="row mb-5">
      TODO: Choices: use tool, how to use, I'm a teacher, credits
    </section>

    <!-- About -->
    <section class="row mb-5">
      TODO: Footer/about/acknowledgements
    </section>
  </main>
</Website>
