---
import Website from "../../layouts/Website.astro";
import { getTranslationsHelpers, LANGUAGE_CODES } from "../../core/translation";

export const getStaticPaths = () => {
  return LANGUAGE_CODES.map((lang) => ({ params: { lang } }));
};

const { lang } = Astro.params;

const { t, T } = getTranslationsHelpers(lang)
---

<Website lang={lang}>
  <main>
    <div class="container bg-body pb-4">

      <section class="row pt-5 mb-5">
        <h1 class="text-center">
          <img src={`${import.meta.env.BASE_URL}img/vandolie-logo.svg`} alt="Logo" height="52" />
          {t("site-name")}
        </h1>
        <h2 class="text-center fs-4">{t("site-description")}</h2>
      </section>

      <!-- Pick your language -->
      <section class="row mb-5">
        {
          LANGUAGE_CODES.map((l) => (
            <div class="col">
              <div class="d-grid">
                <a
                  role="button"
                  class:list={["btn", "btn-lg", { "btn-primary": lang === l, "btn-outline-secondary": lang !== l, "disabled": lang === l, "aria-disabled": "lang === l" }]}
                  href={`${import.meta.env.BASE_URL}${l}`}
                >{t(`lang-${l}`)}</a>
              </div>
            </div>
          ))
        }
      </section>

      <!-- Intro pitch (card) -->
      <section class="row justify-content-md-center py-5" style="background-color: #d2dde5">
        <div class="col" style="max-width: 600px">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text"><strong>{t("landing-pitch")}</strong></p>
            </div>
          </div>
        </div>
      </section>

      <!-- Intro pitch (images) -->
      <section class="row justify-content-md-center  px-5" style="background-color: #d2dde5">
        <div class="col text-center mb-5" style="max-width: 300px">
          <div class="card shadow-sm">
            <img src={`${import.meta.env.BASE_URL}img/Glass01.jpg`} alt="Mixed glass"/>
            <div class="card-body">
              <h5 class="card-title">{t("landing-mixed")}</h5>
              <p class="card-text">{t("landing-mixed-info")}</p>
            </div>
          </div>
        </div>
        <div class="col text-center mb-5" style="max-width: 300px">
          <div class="card shadow-sm">
            <img src={`${import.meta.env.BASE_URL}img/Glass04.jpg`} alt="Separated glass"/>
            <div class="card-body">
              <h5 class="card-title">{t("landing-separated")}</h5>
              <p class="card-text">{t("landing-separated-info")}</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Actions -->
      <section class="row justify-content-md-center mb-5">
        <div class="col py-5" style="max-width: 600px">
          <div class="d-grid mb-3">
            <a
              role="button"
              class="btn btn-lg btn-primary"
              href={`${import.meta.env.BASE_URL}${lang}/app`}
            >👉 {t("site-start-application")}!</a>
          </div>
          <div class="d-grid mb-3">
            <a
              role="button"
              class="btn btn-lg btn-outline-primary"
              href={`${import.meta.env.BASE_URL}${lang}/how-to-use`}
            >{t("landing-how-to-use")}</a>
          </div>
          <div class="d-grid">
            <a
              role="button"
              class="btn btn-lg"
              href={`${import.meta.env.BASE_URL}${lang}/teacher`}
            >{t("landing-teacher")}</a>
          </div>
        </div>
        </div>

      </section>

    </div>
    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col mb-2" style="min-width: 180px">
            <a href="https://www.it-vest.dk/" target="_blank">
              <div class="card p-3">
                <T k="footer-supported-by"/>
              </div>
            </a>
          </div>
          <div class="col mb-2" style="min-width: 180px"><T k="footer-credits"/></div>
          <div class="col mb-2" style="min-width: 180px">
            <ul>
              <li><T k="footer-license"/></li>
              <li><T k="footer-repository"/></li>
              <li><T k="footer-feedback"/></li>
            </ul>
          </div>
          <div class="col mb-2" style="min-width: 180px">
            <a href="https://www.en.culture.aau.dk/research/research-groups/tantlab" target="_blank">
              <img class="mb-3" src={`${import.meta.env.BASE_URL}img/tantlab_logo_white.svg`} alt="Tantlab" style="max-height:24px"/>
            </a>
            <br>
            <a href="https://www.ssh.aau.dk/forskning/signaturer/computationel-ssh-masshine" target="_blank">
              <img src={`${import.meta.env.BASE_URL}img/Masshine_Logo_White.svg`} alt="MASSHINE" style="max-height:24px"/>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </main>
</Website>
