---
import { getTranslationsHelpers, langToLocale, LANGUAGE_CODES, LanguageCode } from "../core/translation";

import "../styles/commons.scss";
import "../styles/website.scss";

interface Props {
  title?: string;
  lang?: LanguageCode;
  metas?: {
    name?: string;
    property?: string;
    content: string;
  }[];
}

const { title: _title, lang = Astro.currentLocale as LanguageCode, metas } = Astro.props;

const { t } = getTranslationsHelpers(lang);

const title = _title || t("site-name");
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={t("site-description")} />
    <meta property="og:locale" content={langToLocale[lang]} />
    {metas && metas.map((meta) => <meta property={meta.property} name={meta.name} content={meta.content} />)}
    <title>{title}</title>
    <!-- Favicon -->
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon/favicon.ico"`} sizes="32x32">
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon/icon.svg`} type="image/svg+xml">
    <link rel="apple-touch-icon" href={`${import.meta.env.BASE_URL}favicon/apple-touch-icon.png`}>  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #f9e3a2;">
      <div class="container-fluid">
        <a class="navbar-brand" href={`${import.meta.env.BASE_URL}${lang}`}>
          <img src={`${import.meta.env.BASE_URL}img/vandolie-logo.svg`} alt="Logo" width="30" height="24" />
          {t("site-name")}
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href={`${import.meta.env.BASE_URL}${lang}/app`}>
                {t(`site-start-application`)}
              </a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {
              LANGUAGE_CODES.map((l) => (
                <li class="nav-item">
                  <a
                    class:list={["nav-link", { active: lang === l, "aria-disabled": "lang === l" }]}
                    href={`${import.meta.env.BASE_URL}${l}`}
                  >
                    {t(`lang-${l}`)}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </nav>

    <slot />
  </body>
</html>
